<section class="js-video-catch banner-left  rmg-b56  ">
    
    
  <div id="promoHeroBgImage-b63db1b2-63cd-420d-9609-4f9f475af87d" class=" promoHeroBgImage-b63db1b2-63cd-420d-9609-4f9f475af87d image-container 
       ">
      <div class="main-container">
          <div class="focus-container" style="border-color: #FF540A">
              <div class="display-bold-3">
                  <h1 data-en-heading="Gartner Supply Chain Top 25 for 2023" class="display-bold-3">Gartner Supply Chain Top 25 for 2023</h1>
              </div>
              <h2 class="h3">Learn from the leaders of the pack.</h2>
              
                  <a href="/en/supply-chain/research/supply-chain-top-25" class="btn btBtn btn-arrow " data-en-title="Find Out More">
                      Find Out More
                      <span class="button-arrow gcom-icon-arrow-up"></span>
                  </a>
              
          </div>
      </div>
  </div>



</section>

<section id="section-2" class="mt-5">
    <div class="container container-fluid">
      <!-- Dividor-->
      {{-- <div class="row">
        <div class="col-md-1"><h5 class="font-16" style="color: rgb(133, 0, 0);">Full Story</h5></div>
        <div class="col-md-11"><hr style="height: 2px; color: rgb(133, 0, 0);"></div>
      </div> --}}
      <!--Content-->
      <div class="row">
        {{-- <div class="col-md-5">
          <img class="card-img-top" src="{{asset('techworldbd_news_images/title_images/'.$postNews->news_title_image)}}" alt="Card image">
          <h5 class="mt-3 mb-0 px-2 text-danger font-kalpurush font-20">স্টার্টআপ ইকোসিস্টেম গড়তে প্রয়োজন সরকারি-বেসরকারি সমন্বিত উদ্যোগ</h5>
        </div> --}}
        <div class="col-md-7">
          {{-- <div class="row">
            <div class="col-md-4">
              <img class="card-img-top img-fluid" src="{{asset('techworldbd_news_images/title_images/'.$postNews->news_title_image)}}" alt="Card image">
              <h6 class="mt-3 mb-0 font-16 font-kalpurush">স্টার্টআপ ইকোসিস্টেম গড়তে প্রয়োজন সরকারি-বেসরকারি</h6>
            </div>
            <div class="col-md-4">
              <img class="card-img-top img-fluid" src="{{asset('techworldbd_news_images/title_images/'.$postNews->news_title_image)}}" alt="Card image">
              <h6 class="mt-3 mb-0 font-16 font-kalpurush">স্টার্টআপ ইকোসিস্টেম গড়তে প্রয়োজন সরকারি-বেসরকারি</h6>
            </div>
            <div class="col-md-4">
              <img class="card-img-top img-fluid" src="{{asset('techworldbd_news_images/title_images/'.$postNews->news_title_image)}}" alt="Card image">
              <h6 class="mt-3 mb-0 font-16 font-kalpurush">স্টার্টআপ ইকোসিস্টেম গড়তে প্রয়োজন সরকারি-বেসরকারি</h6>
            </div>
            <div class="col-md-4 mt-4">
              <img class="card-img-top img-fluid" src="{{asset('techworldbd_news_images/title_images/'.$postNews->news_title_image)}}" alt="Card image">
              <h6 class="mt-3 mb-0 font-16 font-kalpurush">স্টার্টআপ ইকোসিস্টেম গড়তে প্রয়োজন সরকারি-বেসরকারি</h6>
            </div>
            <div class="col-md-4 mt-4">
              <img class="card-img-top img-fluid" src="{{asset('techworldbd_news_images/title_images/'.$postNews->news_title_image)}}" alt="Card image">
              <h6 class="mt-3 mb-0 font-16 font-kalpurush">স্টার্টআপ ইকোসিস্টেম গড়তে প্রয়োজন সরকারি-বেসরকারি</h6>
            </div>
            <div class="col-md-4 mt-4">
              <img class="card-img-top img-fluid" src="{{asset('techworldbd_news_images/title_images/'.$postNews->news_title_image)}}" alt="Card image">
              <h6 class="mt-3 mb-0 font-16 font-kalpurush">স্টার্টআপ ইকোসিস্টেম গড়তে প্রয়োজন সরকারি-বেসরকারি</h6>
            </div>
          </div> --}}
          <div class="row">
            {{-- <div class="col-md-12">
              <div class="row">
                <div class="col-md-3">
                  <img class="card-img-top" src="{{asset('techworldbd_news_images/title_images/'.$postNews->news_title_image)}}" alt="Card image">
                  <p class="mt-3 mb-0 px-2 font-kalpurush font-16">স্টার্টআপ ইকোসিস্টেম গড়তে প্রয়োজন সরকারি-বেসরকারি সমন্বিত উদ্যোগ</p>
                </div>
                <div class="col-md-3">
                  <img class="card-img-top" src="{{asset('techworldbd_news_images/title_images/'.$postNews->news_title_image)}}" alt="Card image">
                  <p class="mt-3 mb-0 px-2 font-kalpurush font-16">স্টার্টআপ ইকোসিস্টেম গড়তে প্রয়োজন সরকারি-বেসরকারি সমন্বিত উদ্যোগ</p>
                </div>
                <div class="col-md-6">
                  <img class="card-img-top" src="{{asset('techworldbd_news_images/title_images/'.$postNews->news_title_image)}}" alt="Card image">
                  <h5 class="mt-3 mb-0 px-2 text-danger font-kalpurush font-20">স্টার্টআপ ইকোসিস্টেম গড়তে প্রয়োজন সরকারি-বেসরকারি সমন্বিত উদ্যোগ</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <img class="mt-2 w-100 img-fluid" src="{{asset('frontend/images/add/advertisement.webp')}}" alt="Card image">
                </div> --}}

                {{-- হেরে আদ --}}

                {{-- <div class="col-md-6">
                  <hr class="my-1">
                  <div class="row text-left">
                    <div class="col-md-4">
                      <img class="w-100 img-fluid" src="{{asset('techworldbd_news_images/title_images/'.$postNews->news_title_image)}}" alt="Card image">
                    </div>
                    <div class="col-md-8">
                      <p class="mb-1 font-12 font-kalpurush ">স্টার্টআপ ইকোসিস্টেম গড়তে প্রয়োজন সরকারি-বেসরকারি সমন্বিত উদ্যোগ</p>
                      <a href="" class="font-12 text-offwhite">Read more....</a>
                    </div>
                  </div>              <hr class="my-1">
                  <div class="row text-left">
                    <div class="col-md-4">
                      <img class="w-100 img-fluid" src="{{asset('techworldbd_news_images/title_images/'.$postNews->news_title_image)}}" alt="Card image">
                    </div>
                    <div class="col-md-8">
                      <p class="mb-1 font-12 font-kalpurush ">স্টার্টআপ ইকোসিস্টেম গড়তে প্রয়োজন সরকারি-বেসরকারি সমন্বিত উদ্যোগ</p>
                      <a href="" class="font-12 text-offwhite">Read more....</a>
                    </div>
                  </div>
                </div> --}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">

          <h3 class="text-primary font-kalpurush">গ্যাজেট</h3>
          <hr class="mt-1">
        </div>
        <div class="col-md-6">
          
          <h3 class="text-primary font-kalpurush">গ্যাজেট</h3>
          <hr class="mt-1">
        </div>
      </div>
    </div>
  </section>